@{
	ViewData["Title"] = "CreateFeature";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
@model SignalRWebUI.Dtos.FeatureDtos.CreateFeatureDto
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Kategori İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">

				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni öne çıkan ekleme</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="1b">1. başlık</label>
								<input type="text" class="form-control" asp-for="Title1" id="1b" placeholder="Adı">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="2b">2. başlık</label>
								<input type="text" class="form-control" asp-for="Title2" id="2b" placeholder="Adı">
							</div>
						</div>	<div class="card-body">
							<div class="form-group">
								<label for="3b">3. başlık</label>
								<input type="text" class="form-control" asp-for="Title3" id="3b" placeholder="Adı">
							</div>
						</div>	<div class="card-body">
							<div class="form-group">
								<label for="1a">1. açıklama</label>
								<input type="text" class="form-control" asp-for="Description1" id="1a" placeholder="Adı">
							</div>
						</div>	<div class="card-body">
							<div class="form-group">
								<label for="2a">2. açıklama</label>
								<input type="text" class="form-control" asp-for="Description2" id="2a" placeholder="Adı">
							</div>
						</div>	<div class="card-body">
							<div class="form-group">
								<label for="3a">3. açıklama</label>
								<input type="text" class="form-control" asp-for="Description3" id="3a" placeholder="Adı">
							</div>
						</div>

						<div class="card-action">
							<button class="btn btn-primary">Kaydet</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
